<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>SXSW Tweets Bubble visualizer</title>
	  <style type="text/css" media="screen">
	   *{
       font-family: "Eigerdals black","Arial Rounded MT Bold","Trebuchet MS",Trebuchet,sans-serif;
  	   background: #eee;
	   }
	   .text{
       font-size: 10px;	     
	   }
	   .left{
	     border:1px #CCC dotted;
	     width:200px;
       float:left;
     }
     .container{
       width:1200px;
     }
     #bubble{
       border-bottom: 1px #CCC dotted;
     }
     .main{
       border: 1px #CCC dotted;
       width:830px;
       float:left;
     }
     ul{
       list-style-type: none;
       padding-left:0px;
     }
     li{
       border-bottom: 1px #CCC dotted;
       color: #CCC;
     }
	   
	  </style>
	  <%= javascript_include_tag("raphael-min.js", "g.raphael-min.js", "g.line-min.js", "jquery.min.js")%>
    <!--script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.1.min.js" type="text/javascript"></script -->
    
	  <script src="http://js.pusherapp.com/1.7/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      WEB_SOCKET_DEBUG = true;
      function updateTPM () {
        var tpm = counter * 6;
        $("#tpm").text(tpm);
        counter = 0;
      }
      function updateGraph(){
        var tpm = summary;
        // console.log(tpm);
        line_numbers.push(tpm);
        line_numbers.shift();
        var date = new Date;
        var date_string = formatTime(date);
        line_dates.push(date_string);        
        line_dates.shift();
        drawGraph();
        summary = 0;
      }
      
      function updateTime () {
        var d = new Date()
        $("#localtime").text(formatTime(d))
        $("#austintime").text(formatTime(calcTime(d, '-5')))
      }
      
      function formatTime (date) {
        return date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes();
      }
      // From http://tek.io/fvqWRw 
      function calcTime(d, offset) {
          utc = d.getTime() + (d.getTimezoneOffset() * 60000);
          nd = new Date(utc + (3600000*offset));
          return nd;
      }

      var pusher = new Pusher('1ae96b4c472db6c039f1');
      var channel = pusher.subscribe('twitter');
      var counter = 0;
      var summary = 0;
      var tweets = [];
      channel.bind('created', function(data) {
        // data.user.profile_image_url;
        counter++;
        summary++;
        tweets.push("<li>" + data.text +"</li>");
        data.entities.user_mentions.each(function(i){
          if (mentioned["@" + i.screen_name]) {
            mentioned["@" + i.screen_name].count ++;
          }else{
            var m = mentioned["@" + i.screen_name] = {
              count:1,
              speakers:null,
            };
            updateMentionProperties(m);
          };
          // console.log(mentioned["@" + i.screen_name]);
          // console.log(i.screen_name);
        });
        if (tweets.length > 7) {
          tweets.shift();
        };
        $('#tweets ul').html(tweets.join(''));
        drawBubble();
      });
      setInterval("updateTime()", 60000);
      setInterval("updateTPM()", 10000);
      setInterval("updateGraph()", 60000);
    </script>
	  
    <script type="text/javascript">
        var processingMap = function(value, istart, istop, ostart, ostop) {
          return ostart + (ostop - ostart) * ((value - istart) / (istop - istart));
        };
        
        var line_numbers = <%= raw @summary_numbers %>;
        var blue = "hsb(0.6, 1, 0.75)";
        var green = "hsb(0.5, 0.25, 1)";
        
        var x_values = [];
        var line_dates = <%= raw @summary_dates %>
        var date_axis = [] 
        
        var width = 800;
        var height = 180;
        var divider = width / 6
        
        var mentioned = <%= raw @mentions_summary.to_json %>;
        
        // console.log(line_dates);
        // console.log(line_numbers);
        // console.log(x_values);
        var drawGraph = function(){
          $("#graph").empty();
          var r = Raphael(document.getElementById("graph"), width, height);


          for (var i=1; i < line_numbers.length + 1; i++) {
            date = new Date(line_dates[i]);
            if ((date.getMinutes() % 10) == 0) {
              date_axis.push({x:i, date:date})
            };
            x_values.push(i);
          };


          // Draws line seperator and time
          for (var i=1; i < date_axis.length; i++) {
            var divider_x = i * divider;
            var divider_date = date_axis[i].date;
            r.path("M" + divider_x + " 0" + "L" + divider_x + " " + (height - 20) ).attr({stroke:"hsb(0.5, 0.25, 1)"});
            r.text(divider_x, height - 10, divider_date.getHours() + ":" + divider_date.getMinutes());
          };

          // Creates a simple line chart at 10, 10
          // width 300, height 220
          // x-values: [1,2,3,4,5], y-values: [10,20,15,35,30]
          var linec = r.g.linechart(100,10,width,150,x_values,line_numbers, { "symbol":"o", "colors":["cornflowerblue"]});
          var figure = null;
          linec.hover(function() {
            h = this;
            figure = r.text(this.x , this.y, this.value);
            this.symbol.attr({'fill':'white'});
          }, function() {
            figure.remove();
            this.symbol.attr({'fill':'cornflowerblue'});
          });
        }

        var updateMentionProperties = function(m){
          if (m.speaker) {
            m.color = green;
          }else{
            m.color = blue;
          };
          m.mark_size = processingMap(m.count, 25,111 , 7, 20)
          // var mark_x = 50 + (m_counter * space);
          m.mark_x = Math.floor(Math.random()*(width * 0.9));
          m.mark_y = Math.floor(Math.random()*(height * 0.9));
        }

        var setupBubble = function(){
          for(i in mentioned){
            var m = mentioned[i];
            updateMentionProperties(m);
          }
        }

        var drawBubble = function(){
          console.log("DRAWING")
          console.log(mentioned);
          $("#bubble").empty();
          var rr = Raphael(document.getElementById("bubble"), width, height);
          var mentioned_length = 0;
          for (k in mentioned) if (mentioned.hasOwnProperty(k)) mentioned_length++;
          var space = width * 0.9 / mentioned_length;
          
          var m_counter = 0;
          for(i in mentioned){
            var m = mentioned[i]
            var bubble_options = {
              fill: m.color,
              stroke: "hsb(0.5, 0.25, 1)"
            }
            
            if (m.speaker) {
              var href = JSON.parse(m.speaker.schedule.content).href;
              bubble_options.href = href;
            };
            cc = rr.circle(m.mark_x, m.mark_y, m.mark_size).attr(bubble_options);
            if(m.speaker){
              rr.text(m.mark_x,m.mark_y,  i).attr({href:href, fill:"#333366"});
            }else{
              if (m.mark_size > 7) {rr.text(m.mark_x,m.mark_y,  i).attr({fill:"grey", opacity: 0.5});};
            }
          }
        }
        
        window.onload = function() {
          updateTime();
          drawGraph();
          setupBubble();
          drawBubble();
        }
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22102878-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body>
  <h2>
    <img src="images/sxswbubbly_logo.png" width="100" height="30" border="1">
    #SXSW Tweets
    at <span id="localtime"></span>
  (
  <span id="austintime">   
  </span>
    in Austin, TX
  )
  </h2>
  <div class="container">
    <div class="left" class="box column">
      <div>
        Tweets Per Minute:<span id="tpm"><%= @tpm %></span>
      </div>
      <div id="tweets" class="text">
        <ul>
        </ul>
      </div>
    </div>
    <div class="main" class="box column">
      <div id="bubble"></div>
      <div id="graph"></div>
      <div>
        Made by <%= link_to("@makoto_inoue", "http://twitter.com/makoto_inoue")%> from <%= link_to("@newbamboo", "http://new-bamboo.co.uk")%>.
        Powered by <%= link_to("lanyrd", "http://lanyrd.com")%>, <%= link_to("pusher", "http://pusherapp.com")%> and <%= link_to("heroku", "http://heroku.com/")%>.
        Loves <%= link_to("SXSW", "http://sxsw.com/")%>
      </div>
    </div>
  </div>
</body>
</html>
